html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #394459;
  line-height: 1.6em; }

body {
  overflow-x: hidden;
  padding-bottom: 2rem; }

h1 {
  color: darkorange; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #ddd; }

@media (max-width: 999px) {
  ::-webkit-scrollbar {
    display: none; } }

::-webkit-scrollbar-thumb {
  background-color: #aaa; }

::-webkit-scrollbar-button {
  display: none; }
.lines-background_3XgUa {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 101vw;
  pointer-events: none; }

.lines-line_1OVsE {
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  width: 11.11vw;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.05); }
  @media (max-width: 1366px) {
    .lines-line_1OVsE {
      width: 16.66vw; } }
  @media (max-width: 999px) {
    .lines-line_1OVsE {
      width: 33.33vw; } }
.readmore-article_more_2pgqZ {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #394459;
  border-radius: 6px;
  background-color: #f7d781; }
  .readmore-article_more_2pgqZ::before, .readmore-article_more_2pgqZ::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    content: ""; }
  .readmore-article_more_2pgqZ::after {
    width: 0;
    -webkit-transition: width 6s linear .5s;
    transition: width 6s linear .5s;
    background-color: #f7d781; }
  .readmore-article_more_2pgqZ::before {
    width: 100%;
    background-color: #394459; }
  .readmore-article_more_2pgqZ .overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    -webkit-transition: width 6s linear .5s;
    transition: width 6s linear .5s;
    white-space: nowrap;
    color: #252525;
    background-color: #fff; }
.content-wrap_1z5db {
  overflow: hidden;
  min-height: 100vh;
  margin-left: 11.11vw; }
  @media (max-width: 1366px) {
    .content-wrap_1z5db {
      margin-left: 16.6vw; } }
  @media (max-width: 999px) {
    .content-wrap_1z5db {
      margin: 0; } }

.content-news_article_HoeeW {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 77.77vw;
  height: calc(100vh - 60px);
  margin-left: 11.11vw;
  vertical-align: middle; }
  @media (max-width: 1366px) {
    .content-news_article_HoeeW {
      margin-left: 8.4vw; } }
  @media (max-width: 999px) {
    .content-news_article_HoeeW {
      z-index: 9;
      overflow-y: visible;
      width: 100%;
      height: auto;
      min-height: 80vh;
      margin-left: 0; } }

.content-article_image_1uor_ {
  position: relative;
  z-index: 15;
  float: right;
  overflow: hidden;
  width: 33vw;
  height: 100vh;
  margin: 0;
  vertical-align: middle;
  background-size: cover; }
  .content-article_image_1uor_ img {
    position: relative;
    z-index: 5;
    max-width: none; }
  @media (max-width: 1366px) {
    .content-article_image_1uor_ {
      width: 35.8vw; } }
  @media (max-width: 999px) {
    .content-article_image_1uor_ {
      position: relative;
      z-index: 0;
      top: 0;
      float: none;
      width: 100%;
      height: 50vh; }
      .content-article_image_1uor_ img {
        position: absolute !important;
        z-index: 5;
        top: 0;
        right: 0;
        width: 100%;
        height: auto; } }

.content-article_title_1ERL9 {
  font-size: 5em;
  font-weight: 700;
  position: absolute;
  z-index: 40;
  top: 20%;
  display: inline-block;
  overflow: hidden;
  width: 44.44vw;
  margin-left: -7px; }
  .content-article_title_1ERL9 a {
    font-weight: 700;
    position: relative;
    display: inline-block;
    cursor: default;
    -webkit-transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    color: #e22e01; }
    @media (min-width: 1000px) {
      .content-article_title_1ERL9 a {
        padding-bottom: 20px; } }
    @media (max-width: 999px) {
      .content-article_title_1ERL9 a {
        padding-bottom: 10px; } }
    .content-article_title_1ERL9 a::before {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 5px;
      width: calc(100% - 8px);
      height: 8px;
      content: "";
      background-color: #e22e01; }
      @media (min-width: 1600px) {
        .content-article_title_1ERL9 a::before {
          height: 10px; } }
      @media (max-width: 1599px) {
        .content-article_title_1ERL9 a::before {
          height: 7px; } }
      @media (max-width: 1199px) {
        .content-article_title_1ERL9 a::before {
          height: 5px; } }
      @media (max-width: 999px) {
        .content-article_title_1ERL9 a::before {
          left: 0;
          width: 100%;
          height: 3px; } }
  @media (max-width: 1599px) {
    .content-article_title_1ERL9 {
      font-size: 4.4em; } }
  @media (max-width: 1199px) {
    .content-article_title_1ERL9 {
      font-size: 3.5em; } }
  @media (max-width: 999px) {
    .content-article_title_1ERL9 {
      font-size: 28px;
      position: relative;
      z-index: 10;
      top: auto;
      bottom: 0;
      left: 7px;
      width: auto;
      margin-bottom: 0;
      padding: 12px; } }

.content-article_item_3YJO7 {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 33.33vw;
  height: calc(100vh - 82px); }
  @media (max-width: 1366px) {
    .content-article_item_3YJO7 {
      width: 41.6vw; } }
  @media (max-width: 999px) {
    .content-article_item_3YJO7 {
      position: relative;
      width: 100%;
      height: auto; } }

.content-article_info_3W0j4 {
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 1;
  color: #a6a6a6; }

.content-article_text_3FaWE {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  max-width: 33vw;
  color: #394459; }
  @media (max-width: 1199px) {
    .content-article_text_3FaWE {
      font-size: 24px; } }
  @media (max-width: 999px) {
    .content-article_text_3FaWE {
      font-size: 18px;
      max-width: 100vw; } }

.content-article_content_1Q-rv {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 0;
  display: inline-block;
  visibility: visible;
  width: 33.33vw;
  padding-right: 80px;
  vertical-align: middle;
  opacity: 1; }
  @media (max-width: 999px) {
    .content-article_content_1Q-rv {
      position: relative;
      z-index: 0;
      top: 0;
      display: block;
      width: calc(100vw - 24px);
      margin: 0;
      padding: 0 12px;
      -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
              transform: matrix(1, 0, 0, 1, 0, 0);
      -webkit-transform: translateY(0);
              transform: translateY(0);
      vertical-align: middle; } }
.section-section_warp_23ojS {
  position: relative;
  margin-top: 12px; }
  .section-section_warp_23ojS > div {
    font-size: 16px;
    position: relative;
    margin-top: 1.5rem; }
  @media screen and (max-width: 999px) {
    .section-section_warp_23ojS {
      width: calc(100vw - 24px);
      margin-left: 0;
      padding: 0 12px; } }

.section-skill_TQS0W {
  padding: 0; }
  .section-skill_TQS0W > figure {
    position: relative;
    z-index: 5;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 550px;
    margin: 0;
    vertical-align: middle;
    background-size: cover; }
    @media (max-width: 999px) {
      .section-skill_TQS0W > figure {
        width: 100%;
        height: auto;
        margin-top: 1rem; }
        .section-skill_TQS0W > figure img {
          position: relative;
          left: 0;
          display: block;
          width: 100%;
          height: auto;
          margin: auto;
          -webkit-transform: translate(0);
                  transform: translate(0); } }

.section-section_content_nFjru > h2 {
  font-size: 22px;
  margin-bottom: 0; }
  .section-section_content_nFjru > h2 > a {
    font-weight: 700;
    position: relative;
    display: inline-block;
    cursor: default;
    -webkit-transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    color: #e22e01; }
    @media (max-width: 999px) {
      .section-section_content_nFjru > h2 > a {
        padding-bottom: 10px; } }
    .section-section_content_nFjru > h2 > a::before {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 5px;
      width: calc(100% - 8px);
      height: 8px;
      content: "";
      background-color: #e22e01; }
      @media (max-width: 999px) {
        .section-section_content_nFjru > h2 > a::before {
          left: 0;
          width: 100%;
          height: 3px; } }

.section-section_content_nFjru > p {
  position: relative;
  display: inline-block;
  padding: 50px 0;
  vertical-align: top;
  text-indent: 2em;
  word-wrap: break-word;
  color: #394459; }
  @media (max-width: 999px) {
    .section-section_content_nFjru > p {
      width: 100%;
      margin: 0;
      padding: .45em 0; } }
@-webkit-keyframes sidebar-fadeInLeftBig_2CXbn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

@keyframes sidebar-fadeInLeftBig_2CXbn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

.sidebar-fadeInLeftBig_2CXbn {
  -webkit-animation-name: sidebar-fadeInLeftBig_2CXbn;
          animation-name: sidebar-fadeInLeftBig_2CXbn; }

.sidebar-sidebar_2jFB5 {
  position: fixed;
  z-index: 40;
  display: inline-block;
  width: 11.12%;
  height: 100vh;
  padding-top: 40px;
  vertical-align: middle;
  background-color: #fff; }
  @media (max-width: 1366px) {
    .sidebar-sidebar_2jFB5 {
      width: 16.6vw; } }
  @media (max-width: 999px) {
    .sidebar-sidebar_2jFB5 {
      z-index: 70;
      top: 0;
      width: 100vw;
      height: 70px;
      padding-top: 0;
      background-color: #fff; } }

.sidebar-menu_2Lqha {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (max-width: 999px) {
    .sidebar-menu_2Lqha {
      position: relative;
      display: inline-block;
      width: calc(100% - 70.5px);
      margin-left: 0;
      text-align: right;
      background-color: #fff; } }

.sidebar-submenu_2kUsh {
  width: 100%;
  padding-left: 21%;
  list-style: none; }
  @media (max-width: 1599px) {
    .sidebar-submenu_2kUsh {
      padding-left: 12%; } }
  @media (max-width: 1199px) {
    .sidebar-submenu_2kUsh {
      padding-left: 10%; } }
  @media (max-width: 999px) {
    .sidebar-submenu_2kUsh {
      position: fixed;
      top: 70px;
      right: -1%;
      width: 101%;
      height: 100vh;
      margin-top: 0;
      padding-top: 15%;
      -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
      transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
      transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
      transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
      text-align: left;
      background-color: #232855; }
      .sidebar-submenu_2kUsh:not(.active) {
        -webkit-transform: translateX(100%);
                transform: translateX(100%); } }
  @media (max-width: 999px) {
    .sidebar-submenu_2kUsh::before {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      background-attachment: fixed;
      width: 100vw;
      height: 100vh;
      content: "";
      -webkit-transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0s ease-out 0.6s;
      transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0s ease-out 0.6s;
      transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1), transform 0s ease-out 0.6s;
      transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1), transform 0s ease-out 0.6s, -webkit-transform 0s ease-out 0.6s;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
      background-color: #232855; }
    .sidebar-submenu_2kUsh.active::before {
      top: 70px;
      -webkit-transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1), top 0s ease-out 0.6s;
      transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1), top 0s ease-out 0.6s;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: .5; } }
  .sidebar-submenu_2kUsh a {
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #252525; }
    @media (max-width: 1599px) {
      .sidebar-submenu_2kUsh a {
        font-size: 15px; } }
    @media (max-width: 1199px) {
      .sidebar-submenu_2kUsh a {
        font-size: 14px; } }
    @media (max-width: 999px) {
      .sidebar-submenu_2kUsh a {
        font-size: 20px;
        color: #f7d781; } }
    .sidebar-submenu_2kUsh a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      content: "";
      -webkit-transition: width 0.2s cubic-bezier(0.77, 0, 0.175, 1);
      transition: width 0.2s cubic-bezier(0.77, 0, 0.175, 1);
      background-color: #f67280; }
    .sidebar-submenu_2kUsh a:hover::after {
      width: 100%; }

.sidebar-menu_item_2zq5u {
  font-weight: 400;
  margin: 0; }
  .sidebar-menu_item_2zq5u.active {
    font-weight: 700; }

.sidebar-button_2XvRL {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 19.5px 0;
  text-align: center;
  text-decoration: none;
  color: #252525; }
  .sidebar-button_2XvRL::before {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #f7d781; }
  @media (max-width: 999px) {
    .sidebar-button_2XvRL {
      display: none; } }
  .sidebar-button_2XvRL::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    content: "";
    -webkit-transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #f67280; }
  .sidebar-button_2XvRL:hover::after {
    width: 100%; }
  .sidebar-button_2XvRL:hover {
    color: #fff; }

.sidebar-mobile_menu_KBUTc {
  font-family: aktiv-grotesk,sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  display: none;
  margin-right: -4px;
  padding: 1.6875rem .9375rem;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #394459;
  background: 0 0; }
  @media (max-width: 999px) {
    .sidebar-mobile_menu_KBUTc {
      display: inline-block; } }
  .sidebar-mobile_menu_KBUTc::before {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 101%;
    height: 0;
    content: "";
    -webkit-transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    background-color: #232855; }
  .sidebar-mobile_menu_KBUTc.active {
    -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
    color: #f7d781; }
  .sidebar-mobile_menu_KBUTc.active::before {
    height: 110%;
    -webkit-transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
    transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s; }

.sidebar-menu_menubar_2g_PU {
  font-family: aktiv-grotesk,sans-serif;
  position: relative;
  z-index: 2;
  display: inline-block;
  height: 2px;
  margin-left: 10px;
  padding: 0 10px;
  -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  vertical-align: middle;
  background-color: #394459; }
  .sidebar-menu_menubar_2g_PU.active {
    -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #0000; }
  .sidebar-menu_menubar_2g_PU::before {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    -webkit-transition: bottom 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: bottom 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #394459; }
  .sidebar-menu_menubar_2g_PU.active::before {
    bottom: 0;
    -webkit-transition: bottom 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: bottom 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    background-color: #d2d2d2; }
  .sidebar-menu_menubar_2g_PU::after {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    -webkit-transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background-color: #394459; }
  .sidebar-menu_menubar_2g_PU.active::after {
    top: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: #d2d2d2; }

.sidebar-logo_1vaxX {
  margin: 0; }
  @media (max-width: 999px) {
    .sidebar-logo_1vaxX {
      display: inline-block;
      width: 70px;
      height: 70px;
      vertical-align: top;
      background-color: #f7d781; } }
  .sidebar-logo_1vaxX a {
    width: 100%; }

.sidebar-logo-mobile_2yCgp {
  display: none; }
  @media (max-width: 999px) {
    .sidebar-logo-mobile_2yCgp {
      display: inline-block; } }

.sidebar-logo-desktop_3kdUz {
  display: block;
  width: 100%; }
  @media (max-width: 999px) {
    .sidebar-logo-desktop_3kdUz {
      display: none; } }
